ul{
	background-color: #f59e42;
	margin: 0;
	padding: 0;
	color: black;
	overflow: hidden;

}
li{
	list-style-type: none;
	float: left;


}
li a{
	display: block;
	padding-left: 8px;
	text-decoration: none;
	font-family: verdana; 
}



img{
	width: 100%;
	height: 100%;
}
h1{
	  font-family: "Sofia";
  font-size: 22px;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#intro{
	width: 45%;
	height: 45%;
	align-content: center;
}


