ul{
	background-color: #f59e42;
	margin: 0;
	padding: 0;
	color: black;
	overflow: hidden;

}
li{
	list-style-type: none;
	float: left;


}
li a{
	display: block;
	padding-left: 8px;
	text-decoration: none;
	font-family: verdana; 
}



img{
	width: 100%;
	height: 100%;
}
h1{
	  font-family: "Sofia";
  font-size: 22px;
}




