ul{
	background-color: #f59e42;
	margin: 0;
	padding: 0;
	color: black;
	overflow: hidden;

}
li{
	list-style-type: none;
	float: left;


}
li a{
	display:inline-block;
	color: white;
	padding:14px 16px;
	text-decoration: none;
	font-family: verdana; 
}
li a:hover{
	background-color: #e08787;
}


img{
	width: 100%;
	height: 100%;
}
h1{
	  font-family: "Sofia";
  font-size: 22px;
}

#one{
	background-color: #d1b4ab;
}


#intro{
	width: 50%;
	height: 150%;
    border-radius: 50%;
    margin-left: 20%;

	
}
.div5{
	float: right;
	width: 50%;
	height: 200px;
	
	
}
.div3{
	float: left;
	width: 50%;
	height: 150px;
	font-size: 12px;
	
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  color: black;
  

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: verdana;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}